#pragma code_page(932)
//#include <winuser.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#if DEFAULT_RESOURCES
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mp2enc.exe.manifest"
#endif

STRINGTABLE
BEGIN
    32768 "ウェーブ形式オーディオ|*.wav"
END
